{% extends "base.html" %}
{% block mainbody %}

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title></title>
        <meta charset="utf-8"/>
        <script src="../static/js/echarts.js"></script>
        <script src="../static/js/jquery-1.8.3.min.js"></script>
    </head>
    <title>实体</title>
    <div class="container">
        <div class="row">
            <!--head start-->
            <div class="col-md-12">
                <h3 class="page-header"><i class="fa fa-share-alt" aria-hidden="true"></i> 实体查询 </h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="\">Home</a></li>
                    <li><i class="fa fa-share-alt" aria-hidden="true"></i>实体查询</li>
                </ol>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default ">
                    <header class="panel-heading">
                        查询条件[例:缺陷类实体-108670,文本类实体-open]
                    </header>
                    <div class="panel-body">
                        <!--搜索框-->
                        <form method="get" id='searchEntityForm'>
                            <div>
                                <div class="input-group">
                                    <input type="text" id="user_text" name="user_text" class="form-control"
                                           placeholder="输入实体名称" aria-describedby="basic-addon1">
                                    <span class="btn btn-primary input-group-addon" type="button"
                                          id="relationSearchButton" style="background-color:#4592fe ; padding:6px 38px"
                                          onclick="document.getElementById('searchEntityForm').submit();">查询</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <p>
            <div class="col-md-12">
                {% if ctx %}
                    <div class="panel panel-default">
                        <header class="panel-heading">
                            <div class="panel-body">
                                <h2>数据库中暂未添加该实体</h2>
                            </div>
                        </header>
                    </div>
                {% endif %}
            </div>
            </p>
            <!--relation start-->
            {% if ret %}
                <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                <div class="col-md-12">
                    <div class="panel panel-default ">
                        <header class="panel-heading">
                            关系图 :
                        </header>
                        <div class="panel-body ">
                            <div id="graph" style="width: 90%;height:600px;"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if ret %}
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <header class="panel-heading">
                            关系列表 :
                        </header>
                        <div class="panel-body">
                            <table class="table" data-paging="true" data-sorting="true"></table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if ret %}
        <script src="/static/js/jquery.min.js"></script>
        <script type="text/javascript">
            // 将后端的查询结果使用echarts展示
            var ret_dict = {{ ret|safe }};
            console.log('ret_dict', ret_dict);
            var data = [];
            var links = [];

            //构造数据
            var node1;
            if (!isNaN(ret_dict['source'])) { // 缺陷类
                node1 = {
                    name: ret_dict['source'],
                    category: 0,
                    symbolSize: 50,
                };
            } else { // 文本类
                node1 = {
                    name: ret_dict['source'],
                    category: 1,
                    symbolSize: 50,
                };
            }
            data.push(node1);

            for (var i = 0; i < ret_dict['relations'].length; i++) {
                var node2;
                if (!isNaN(ret_dict['relations'][i][1])) { // 缺陷类
                    node2 = {
                        name: ret_dict['relations'][i][1],
                        category: 0,
                        symbolSize: 20,
                    };
                } else { // 文本类
                    node2 = {
                        name: ret_dict['relations'][i][1],
                        category: 1,
                        symbolSize: 20,
                    };
                }
                data.push(node2);

                var link = {
                    source: ret_dict['source'],
                    target: ret_dict['relations'][i][1],
                    name: ret_dict['relations'][i][0],
                    des: ret_dict['relations'][i][0]
                };
                links.push(link);

            }
            console.log(links);
            var myChart = echarts.init(document.getElementById('graph'));
            var categories = [{
                name: 'Bug'
            }, {
                name: 'Text'
            }];

            option = {
                // 图的标题
                title: {
                    text: 'BugKG 关系图'
                },
                // 提示框的配置
                tooltip: {
                    formatter: function (x) {
                        return x.data.des;
                    }
                },
                // 工具箱
                toolbox: {
                    // 显示工具箱
                    show: true,
                    feature: {
                        mark: {
                            show: true
                        },
                        // 还原
                        restore: {
                            show: true
                        },
                        // 保存为图片
                        saveAsImage: {
                            show: true
                        }
                    }
                },
                legend: [{
                    // selectedMode: 'single',
                    data: categories.map(function (a) {
                        return a.name;
                    })
                }],
                series: [{
                    type: 'graph', // 类型:关系图
                    layout: 'force', //图的布局，类型为力导图
                    symbolSize: 10, // 调整节点的大小
                    roam: false, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移,可以设置成 'scale' 或者 'move'。设置成 true 为都开启
                    edgeSymbol: ['circle', 'arrow'],
                    edgeSymbolSize: [2, 10],
                    edgeLabel: {
                        normal: {
                            textStyle: {
                                fontSize: 20
                            }
                        }
                    },
                    force: {
                        repulsion: 1500,
                        edgeLength: [10, 30]
                    },
                    draggable: true,
                    lineStyle: {
                        normal: {
                            width: 2,
                            color: '#4b565b',
                        }
                    },
                    edgeLabel: {
                        normal: {
                            show: true,
                            formatter: function (x) {
                                return x.data.name;
                            }
                        }
                    },
                    label: {
                        normal: {
                            show: true,
                            textStyle: {}
                        }
                    },

                    // 数据
                    data: data,
                    links: links,
                    categories: categories,
                }]
            };
            myChart.setOption(option);

            //用表格列出所有的关系
            tableData = []
            for (var i = 0; i < ret_dict['relations'].length; i++) {
                relationData = {};
                relationData['entity1'] = ret_dict['source'];
                relationData['relation'] = ret_dict['relations'][i][0];
                relationData['entity2'] = ret_dict['relations'][i][1];
                tableData.push(relationData);
            }
            jQuery(function () {
                $('.table').footable({
                    "columns": [{"name": "entity1", title: "Entity1"},
                        {"name": "relation", title: "Relation"},
                        {"name": "entity2", title: "Entity2"}],
                    "rows": tableData
                });
            });
        </script>
    {% endif %}

{% endblock %}
